:root {
  background-color: #277896;
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
  margin: 0%;
  padding-top: 0%;
  justify-content: center;
}
header {
  /* justify-content: space-around; */
  font-family: 'Playfair Display', serif;
  color: #3c3c3c;
  align-items: center;
}
main {
  border-color: lightcyan;
  justify-content: center;
  background: lightcyan;
  max-width: 80%;
  margin: 0%;
}
body {
  align-items: center;
  justify-content: center;
  margin: 2% 10% 2% 10%;
  color: #3c3c3c;
}
h1 {
  color: grey;
  background: #f2f7f2;
  font-size: 3.5rem;
  margin: 0%;
  text-align: center;
  justify-content: center;
  padding: 2%;
}
.white-text {
  color: white;
  background-color: #45a6c6;
  margin: 0%;
}
.first-ul {
  display: flex;
  list-style: none;
  margin: 0;
  justify-content: space-around;
  padding: 1%;
}
h2 {
  justify-content: space-between;
  font-size: 1.2rem;
}
.third-ul {
  display: flex;
  list-style: none;
  align-content: center;
  background-color: #f2f7f2;
  width: 100%;
}
p {
  font-size: 1rem;
  color: #3c3c3c;
}

.picture {
  border: solid;
  border-color: #42daec;
  padding: 2%;
}
img {
  justify-content: column;
  justify-content: flex-start;
}
footer {
  background-color: lightgrey;
  font-size: 1.1rem;
  justify-content: center;
}
section {
  padding: 1%;
}
.top-list {
  margin: 0%;
  padding: 0%;
  max-height: 80%;
}
